@font-face {font-family: "Gotham";
    src: url("./fonts/Gotham-Light.otf"); 
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: "Gotham";
    src: url("./fonts/Gotham-medium.otf"); 
    font-weight: 400;
    font-style: normal;
}


body {
	font-family: 'Gotham';
	padding: 20px;
}

h1 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

nav {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	}
img {
	height: 50px;
}

ncred {
	color: red;
}
